{% load static %}

<footer class="main-footer">

    <div class="footer-links">

        <a href="#" class="footer-link">
            Privacy
        </a>

        <a href="#" class="footer-link">
            Terms
        </a>

        <a href="#" class="footer-link">
            Shipping
        </a>

        <a href="#" class="footer-link">
            Contact
        </a>

    </div>

    <div class="footer-copyright">

        &copy; {% now "Y" %} NOVA STYLE. ALL RIGHTS RESERVED.

    </div>

</footer>