<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password - Nova Style</title>
  <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
</head>
<body>

  <main class="container">
    <header class="brand">Nova Style</header>
    <section class="card">
      <h1 class="card-title">Forgot your password?</h1>
      <p class="card-desc">No worries, enter your email below and we'll send you a recovery link.</p>

          <form class="form-group" method="post" action="{% url 'password_reset' %}">
              {% csrf_token %}
                <label for="id_email" class="form-label">Email Address</label>
                    <input 
                      type="email" 
                      id="id_email"
                      name="email"
                      class="form-input" 
                      placeholder="Enter Your Email Address"  
                      autocomplete="email"
                    >
                
                <button type="submit" class="btn-submit" id="btn-submit">
                  <span>Send Reset Link</span>
                  <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3.33334 8H12.6667"/>
                    <path d="M8 3.33334L12.6667 8L8 12.6667"/>
                  </svg>
              </button>
    </form>
    </section>

    <a href="{% url "login" %}" class="back-link">
      <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12.6667 8H3.33334"/>
        <path d="M8 12.6667L3.33334 8L8 3.33334"/>
      </svg>
      <span>Back to Login</span>
    </a>
  </main>

</body>
</html>
