{% extends "base/user/base.html" %}
{% load static %}

{% block title %}
<title>My Orders - NOVA STYLE</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user/orders.css' %}?v=3">
{% endblock %}

{% block content %}

<div class="orders-page">

    <div class="orders-header">
        <h1 class="orders-title">My Orders</h1>
    </div>

    <div class="orders-list">

        {% for order in page_obj %}
        {% for item in order.items.all %}

        <div class="order-card">

            <div class="order-card-left">

                <div class="order-image-box">

                    {% for image in item.variant.images.all %}
                        {% if image.is_primary %}
                            <img src="{{ image.image.url }}"
                                 alt="{{ item.variant.product.name }}"
                                 class="product-avatar">
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="order-details">

                    <div class="order-meta">

                        <span class="order-status">
                            {{ order.status }}
                        </span>
                         <span class="payment-status payment-{{ order.payment_status|lower }}">
        Payment: {{ order.payment_status }}
    </span>


                        <span class="order-id">
                            ORDER NUMBER - {{ order.order_id }}
                        </span>

                    </div>

                    {% if item.variant.product %}
                    <h3 class="order-title">
                        {{ item.variant.product.name }}
                    </h3>
                    {% endif %}

                    <p class="order-variant">
                        {{ item.variant.color }}
                        /
                        {{ item.variant.size }}
                        /
                        Qty: {{ item.quantity }}
                    </p>

                    <p class="order-price">
                        ₹{{ order.final_amount }}
                    </p>

                </div>

            </div>

            <div class="order-card-right">

                <div class="order-delivery-info">

                    <p class="delivery-date">
                        {{ order.created_at|date:"d M Y" }}
                    </p>

                </div>

                <a href="{% url 'order_details' order.id %}"
                   class="details-btn">

                    DETAILS

                </a>

            </div>

        </div>


        {% endfor %}
        {% endfor %}

    </div>
    {% if page_obj.paginator.num_pages > 1 %}
     <div class="pagination"> 
        {% if page_obj.has_previous %} 
        <a href="?page={{ page_obj.previous_page_number }}"> Previous </a>
         {% endif %} 

         <span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
          {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}"> Next </a> 
           
           {% endif %} </div> 
    {% endif %}

</div>

{% endblock %}